<%= form_for @invoice, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :reservation, :class => 'control-label' %>
    <div class="controls">
      <%= collection_select(:invoice, :reservation_id, @reservations, :id, :description) %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :date, :class => 'control-label' %>
    <div class="controls">
      <%= f.date_select :date, :class => 'date_select' %>
    </div>
  </div>
  <div class="control-group">
    <div class="controls">
    <table class="table table-condensed">
      <thead>
        <tr>
          <th>Mission Id</th>
          <th>Cost</th>
          <th>TPS</th>
          <th>TVQ</th>
          <th>Total Cost</th>    
          <th>Remaining</th>    
        </tr>
      </thead>
      <tbody>
        <% @invoice.by_missions_cost.each do |m| %>
        <tr>
          <td><%= m[0] %></td>
          <td><%= number_to_currency m[3] + m[4] %></td>
          <td><%= number_to_currency m[5] %></td>
          <td><%= number_to_currency m[6] %></td>
          <td><%= number_to_currency m[3] + m[4] + m[5] + m[6] %></td>
          <td>-</td>
        </tr>
        <% end %>
      </tbody> 
      <tfoot>
        <tr>
          <td>Total</td>
          <td><%= number_to_currency @invoice.total_no_tax unless @invoice.nil? %></td>
          <td><%= number_to_currency @invoice.tps unless @invoice.nil? %></td>
          <td><%= number_to_currency @invoice.tvq unless @invoice.nil? %></td>
          <td><%= number_to_currency @invoice.total unless @invoice.nil? %></td>
          <td id="remaining"><%= number_to_currency @invoice.remaining  unless @invoice.nil? %></td>
        </tr>
      </tfoot>  
    </table>
    </div>
  </div>

  <% if @invoice.new_record? %>
    <div class="form-actions">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                  invoices_path, :class => 'btn' %>
    </div>
  <% end %>
<% end %>