<%= form_for @driver_license_type, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :driver_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :driver_id, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :license_type_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :license_type_id, :class => 'number_field' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                driver_license_types_path, :class => 'btn' %>
  </div>
<% end %>
