<%= form_for @reservation, :html => { :class => 'form-horizontal' }, :remote => true do |f| %>
  <div class="control-group">
    <%= f.label :client, :class => 'control-label' %>
    <div class="controls">
      <div id="selected_client"></div>
      <%= hidden_field_tag 'reservation[client_id]' %>
    </div>
  </div>  
  <div class="control-group">
    <%= f.label :street_number, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :street_number, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :apt, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :apt, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :address, :class => 'control-label' %>
    <div class="controls">
      <%= collection_select(:reservation, :address_id, Address.all, :id, :full) %> 
    </div>
  </div>
  <div class="control-group">
    <%= f.label :appointment_date, :class => 'control-label' %>
    <div class="controls">
      <%= f.datetime_select :appointment_date, :class => 'datetime_select' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :expected_end_time, :class => 'control-label' %>
    <div class="controls">
      <%= f.datetime_select :expected_end_time, :class => 'datetime_select' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary', :id => 'reservation_button_create' %>
  </div>
<% end %>
