<%= form_for @reservation, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :client_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :client_id, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :mission_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :mission_id, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :address_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :address_id, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :street_number, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :street_number, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :apt, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :apt, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :appointment_date, :class => 'control-label' %>
    <div class="controls">
      <%= f.datetime_select :appointment_date, :class => 'datetime_select' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :expected_end_time, :class => 'control-label' %>
    <div class="controls">
      <%= f.datetime_select :expected_end_time, :class => 'datetime_select' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                reservations_path, :class => 'btn' %>
  </div>
<% end %>
