<%= form_for @payment, :html => { :class => 'form-horizontal' }, :remote => true do |f| %>
  <div class="control-group">
    <%= f.label :payment_type, :class => 'control-label' %>
    <div class="controls">     
     <%= collection_select(:payment, :payment_type_id, PaymentType.all, :id, :name) %> 
    </div>
  </div>
  <div class="control-group">
    <%= f.label :amt, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :amt,  :class => 'number_field', :value => @payment.invoice.remaining unless @payment.invoice.nil? %>
    </div>
  </div>
  <%= hidden_field_tag 'invoice[id]', @invoice.id unless @invoice.nil? %>
  <%= hidden_field_tag 'invoice[reservation_id]', @invoice.reservation_id unless @invoice.nil? %>
  <%= hidden_field_tag 'invoice[date]', @invoice.date unless @invoice.nil? %>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                invoices_path, :class => 'btn' %>
  </div>
<% end %>
