<%= form_for @address, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :street_name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :street_name, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :city, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :city, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :postal_code, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :postal_code, :class => 'text_field', :maxlength => 6 %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                addresses_path, :class => 'btn' %>
  </div>
<% end %>
