<%= form_for @driver, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :person, :class => 'control-label' %>
    <div class="controls">
        <%= collection_select(:driver, :person_id, Person.all, :id, :full_name) %>       
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                drivers_path, :class => 'btn' %>
  </div>
<% end %>
